# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VIM swap files
*.swp

# Graph files
*.gv

# Tex files
*.aux
*.nav
*.toc
*.vrb
*.log

# temporary cmake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake


# Java executables
measurements/TopoSortParser/bin
measurements/TopoSortParser/
*.jar


# Ignore xml files (for now)
# *.xml
*.db
*.pdf

# don't ignore plots
!measurements/plots/*.pdf


# ignore compiled python
*.pyc
